.thumbnail1{
	
	height: 600px;
	background-image: url('../img/inven.png');
	background-size: cover;
}
.media{
	background-color: #E8F6FC;
}
p{
	margin-left: 10px;
	font-size: 14pt;
}
/*.form-group{
	width: 500px;
	height: 100px;
	margin: auto;
	background-color: white;
}*/
#bc{
	background-image: url('../img/login.png');
	background-size: cover;

}

body {
	margin: 0;
}
h2{
	margin-left: 30px;
}
.footer{
	background-color: #33AAC5;
	height: 45px;
}
.fo{
	margin: auto;
	background-color: white;
	width: 40%;
	height: 320%;
	margin-top: 15%;
}
.form-control{
	width: 50%;
	margin: auto;
}
.iglogin{
	width: 60px;
	margin: 0 45%;
}
.card{
	margin:20px 20px;
}
.img-thumbnail{
	width: 18rem;
	margin-left: 25px;
	margin-top: 20px;

}
.teks{
	color: white;
	margin: 20px 45%;
}
.lead{
	font-family: Gadugi;
}
.form-control-plaintext{
	border-style: none;
}

.out{
	width: 50px;
}
.caption{
	font-family: Kozuka Gothic Pro M;
}
.keluar{
	width: 50px;
}
.keluar:hover{
	background-color: #33AAC5;
	border-radius: 600px;
}
#rg{
	background-image: url('../img/login.png');
	background-size: cover;

}
#dt{
	background-color: #33AAC5;
}
.fp{
	margin: auto;
	background-color: white;
	width: 40%;
	height: 320%;
	margin-top: 5%;
}
#ptgs{
	background-image: url('../img/indPetugas.png');
	background-size: cover;
	background-repeat: no-repeat;

}

