input {
  background-color: none !important;
  background-image: none !important;
  color: rgb(255, 255, 255) !important;
}

.das{

  height:130px;
  border-radius:3px;
  margin: 10px;

}



.font5{

  font-size: 13pt;
  line-height: 14px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  
  }
  



.uuui{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border:1px solid rgb(230, 224, 224);
  border-bottom: 0px;
  background-size: cover;
  height: 300px;
  margin-top: 10px
}

.uuue{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border:1px solid rgb(230, 224, 224);
  border-top: 0px;

}



.margin-top{
  margin-top: 20px;
}

.margin-bottom{
  margin-bottom: 50px
}

.text-p{

  font-family: tw cen mt;
  color: #97999b;
  font-size: 14pt;
  text-align: center
}

.wit{
  width: 400px
}

.u{
  background-color:#00A18E;
  width: 800px;
  border-top-left-radius:5px;
  border-top-right-radius: 5px;
  font-family: tw cen mt;
  padding-top: 5px;
  margin: auto;
  border: 1px solid #dee2e6;
}


.a{
  color: black;
  text-decoration: none;
}

.a:hover{
  color:black;
  background-color:#00a18e;
  text-decoration: none;
  border-radius:5px;
}

.nav-link:hover{

  background-color: #008071;
  border-radius:5px;
}


.left{
  margin-left: 30px;
  margin-right: 10px
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.none{
  text-decoration: none;s
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: none
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    background-color:rgb(241, 240, 240)
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
